
.vs/pennie-intro-assessment/FileContentIndex/5bd2cb32-ac25-4634-9ba8-66171482df18.vsidx
.vs/pennie-intro-assessment/v17/.wsuo
.vs/pennie-intro-assessment/v17/Browse.VC.db
.vs/pennie-intro-assessment/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Project4/FileContentIndex/78a7fd18-595f-4415-afaa-cbab2e5adf66.vsidx
.vs/Project4/v17/Browse.VC.db
.vs/Project4/v17/Browse.VC.db-shm
.vs/Project4/v17/Browse.VC.db-wal
.vs/Project4/v17/Browse.VC.opendb
.vs/Project4/v17/ipch/AutoPCH/8cfb67ffb2098481/MAIN.ipch
.vs/Project4/v17/ipch/AutoPCH/816785e56dee75bf/FUNCTIONS.ipch
.vs/Project4/FileContentIndex/16a326d7-e7ac-4d66-ad90-7da6e80308b6.vsidx
.vs/Project4/FileContentIndex/30fd12e0-3e3c-4c63-b777-17cbdbf52de0.vsidx
.vs/Project4/FileContentIndex/fb94919f-29f8-487b-8429-8fdfce9eb958.vsidx
.vs/Project4/v17/.suo
.vs/Project4/v17/ipch/AutoPCH/3168edab72e1b281/STRINGUTIL.ipch
.vs/Project4/v17/ipch/AutoPCH/ea0797702e6497b0/VCTMP21376_219797.MAIN.00000000.ipch
.vs/Project4/v17/DocumentLayout.json
.vs/Project4/v17/Solution.VC.db
.vs/Project4/FileContentIndex/a9c6a8b9-4743-4ff1-96c3-04c7f127b643.vsidx
.vs/Project4/FileContentIndex/aa4b4d54-7cf1-487a-acc2-015cf0e7c3a8.vsidx
.vs/Project4/FileContentIndex/fda74a87-5454-475a-a5ba-cb666ead25b9.vsidx
.vs/Project4/v17/DocumentLayout.backup.json
.vs/Project4/FileContentIndex/e6448200-cdb8-459a-8059-3f10dc21a09f.vsidx
.vs/Project4/FileContentIndex/f7e5e6ef-9e7b-41ee-bb86-7852ad311538.vsidx
.vs/Project4/FileContentIndex/ffc040a1-4151-49d5-821f-6c7b8f0d1e61.vsidx
.vs/GitHub/FileContentIndex/6142b6c1-2c05-46af-8183-6f583b8e9a0f.vsidx
.vs/GitHub/v17/.wsuo
.vs/GitHub/v17/Browse.VC.db
.vs/GitHub/v17/DocumentLayout.json
.vs/GitHub/FileContentIndex/4013dffe-5ec2-4f53-9043-0142a937d597.vsidx
.vs/GitHub/v17/DocumentLayout.backup.json
.vs/GitHub/v17/ipch/AutoPCH/b5adc92a63781979/MAIN.ipch
.vs/GitHub/v17/ipch/AutoPCH/edae22840726169/STRINGUTIL.ipch
.vs/Project4/FileContentIndex/98d54f6b-7453-44e3-8fe4-749fa38bc0a3.vsidx
.vs/Project4/FileContentIndex/8d64eb8f-da7c-484f-a3e4-99c6193fe791.vsidx
.vs/Project4/FileContentIndex/b1f8ed21-b19f-4a4f-b479-91764e049d4b.vsidx
*.vsidx
.vs/Project4/v17/.wsuo
.vs/Project4/v17/ipch/AutoPCH/27d251f84243d629/MAIN.ipch
.vs/Project4/v17/ipch/AutoPCH/662bf25aaac25cf9/STRINGUTIL.ipch
.vs/Project4/v17/ipch/AutoPCH/a5aefe040fe4cd12/NEW_SCALAR.ipch
