
.vs/pennie-intro-assessment/FileContentIndex/5bd2cb32-ac25-4634-9ba8-66171482df18.vsidx
.vs/pennie-intro-assessment/v17/.wsuo
.vs/pennie-intro-assessment/v17/Browse.VC.db
.vs/pennie-intro-assessment/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Project4/FileContentIndex/78a7fd18-595f-4415-afaa-cbab2e5adf66.vsidx
.vs/Project4/v17/Browse.VC.db
.vs/Project4/v17/Browse.VC.db-shm
.vs/Project4/v17/Browse.VC.db-wal
.vs/Project4/v17/Browse.VC.opendb
.vs/Project4/v17/ipch/AutoPCH/8cfb67ffb2098481/MAIN.ipch
.vs/Project4/v17/ipch/AutoPCH/816785e56dee75bf/FUNCTIONS.ipch
.vs/Project4/FileContentIndex/16a326d7-e7ac-4d66-ad90-7da6e80308b6.vsidx
.vs/Project4/FileContentIndex/30fd12e0-3e3c-4c63-b777-17cbdbf52de0.vsidx
.vs/Project4/FileContentIndex/fb94919f-29f8-487b-8429-8fdfce9eb958.vsidx
.vs/Project4/v17/.suo
.vs/Project4/v17/ipch/AutoPCH/3168edab72e1b281/STRINGUTIL.ipch
.vs/Project4/v17/ipch/AutoPCH/ea0797702e6497b0/VCTMP21376_219797.MAIN.00000000.ipch
.vs/Project4/v17/DocumentLayout.json
.vs/Project4/v17/Solution.VC.db
.vs/Project4/FileContentIndex/a9c6a8b9-4743-4ff1-96c3-04c7f127b643.vsidx
.vs/Project4/FileContentIndex/aa4b4d54-7cf1-487a-acc2-015cf0e7c3a8.vsidx
.vs/Project4/FileContentIndex/fda74a87-5454-475a-a5ba-cb666ead25b9.vsidx
.vs/Project4/v17/DocumentLayout.backup.json
.vs/Project4/FileContentIndex/e6448200-cdb8-459a-8059-3f10dc21a09f.vsidx
.vs/Project4/FileContentIndex/f7e5e6ef-9e7b-41ee-bb86-7852ad311538.vsidx
.vs/Project4/FileContentIndex/ffc040a1-4151-49d5-821f-6c7b8f0d1e61.vsidx
