
.vs/pennie-intro-assessment/FileContentIndex/5bd2cb32-ac25-4634-9ba8-66171482df18.vsidx
.vs/pennie-intro-assessment/v17/.wsuo
.vs/pennie-intro-assessment/v17/Browse.VC.db
.vs/pennie-intro-assessment/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Project4/FileContentIndex/78a7fd18-595f-4415-afaa-cbab2e5adf66.vsidx
.vs/Project4/v17/Browse.VC.db
.vs/Project4/v17/Browse.VC.db-shm
.vs/Project4/v17/Browse.VC.db-wal
.vs/Project4/v17/Browse.VC.opendb
.vs/Project4/v17/ipch/AutoPCH/8cfb67ffb2098481/MAIN.ipch
.vs/Project4/v17/ipch/AutoPCH/816785e56dee75bf/FUNCTIONS.ipch
